@import "tailwindcss";

/* Light Mode */
@theme {
  /* Backgrounds */
  --color-bg: #080808; /* Dark charcoal  */
  --color-card: oklch(0.18 0.02 250); /* white */

  /* Text */
  --color-text: oklch(0.92 0.01 260); /* slate-900 */
  --color-text-muted: oklch(0.65 0.02 260); /* slate-600 */

  /* Borders */
  --color-border: oklch(0.30 0.02 250); /* slate-200 */

  /* Primary theme */
  --color-primary: #2793F4; /* blue */
  --color-primary-hover: #074B87;

  /* Secondary theme */
  --color-secondary:oklch(0.25 0.02 250); /* orange */

  /* Status colors */
  --color-success: oklch(70% 0.18 145); /* green */
  --color-warning: oklch(75% 0.16 60); /* yellow */
  --color-danger: oklch(65% 0.22 25); /* red */

  /* Gradient Hero */
  --color-hero: linear-gradient(
    to bottom right,
    rgba(199, 210, 254, 0.6),
    rgba(216, 180, 254, 0.8)
  );
}

/*  DARK THEME  */

.dark {
  --color-bg: #080808; /* slate-800 */
  --color-card: oklch(33% 0.02 260); /* slate-800 */

  --color-text: oklch(98% 0 0); /* slate-50 */
  --color-text-muted: oklch(80% 0.01 250); /* slate-300 */

  --color-border: indigo /* indigo-300/70 */

  --color-primary: oklch(60% 0.18 260); /* blue-400 */
  --color-primary-hover: oklch(40% 0.18 260);

  --color-secondary: oklch(75% 0.16 40);

  --color-success: oklch(75% 0.18 145);
  --color-warning: oklch(80% 0.16 60);
  --color-danger: oklch(75% 0.22 25);

  --color-hero: linear-gradient(
    to bottom right,
    rgba(30, 41, 59, 0.9),
    rgba(88, 28, 135, 0.9)
  );
}

html {
  scroll-behavior: smooth;
}