@import "tailwindcss";

/* Light Mode */
@theme {
  /* Backgrounds */
  --color-bg: #f8fafc; /* soft White */
  --color-bg-hover: #d1d5db;
  --color-card: oklch(100% 0 0); /* white */

  /* Text */
  --color-text: #0f172a; /* slate-900 */
  --color-text-muted: #475569; /* slate-600 */

  /* Borders */
  --color-border: oklch(85% 0.02 260);

  /* Primary theme */
  --color-primary: oklch(55% 0.22 260); /* blue */
  --color-primary-hover: oklch(40% 0.22 260);

  /* Secondary theme */
  --color-secondary: oklch(70% 0.15 35); /* orange */

  /* Status colors */
  --color-success: oklch(70% 0.18 145); /* green */
  --color-warning: oklch(75% 0.16 60); /* yellow */
  --color-danger: oklch(65% 0.22 25); /* red */

  /* Gradient Hero */
  --color-hero: linear-gradient(
    to bottom right,
    rgba(199, 210, 254, 0.6),
    rgba(216, 180, 254, 0.8)
  );
}

/*  DARK THEME  */

.dark {
  --color-bg: #080808; /* slate-800 */
  --color-bg-hover: #111827;
  --color-card: oklch(33% 0.02 260); /* slate-800 */

  --color-text: oklch(98% 0 0); /* slate-50 */
  --color-text-muted: oklch(80% 0.01 250); /* slate-300 */

  --color-border: #1f2937; /* indigo-300/70 */

  --color-primary: oklch(50% 0.18 260); /* blue-400 */
  --color-primary-hover: oklch(40% 0.18 260);

  --color-secondary: oklch(75% 0.16 40);

  --color-success: oklch(75% 0.18 145);
  --color-warning: oklch(80% 0.16 60);
  --color-danger: oklch(75% 0.22 25);

  --color-hero: linear-gradient(
    to bottom right,
    rgba(30, 41, 59, 0.9),
    rgba(88, 28, 135, 0.9)
  );
}

html {
  scroll-behavior: smooth;
}
